.App {
  width: 100%;
  height: 100%;
}

/* Header component */
.Header {
	width: 100%;
  height: 70px;
  padding: .5em;
	top: 0;
	z-index: 1000;
	background: linear-gradient(90deg, #F6B352 0%, #FA4D6D 100%);
	transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.Hamburger-Name-Container {
  width: 100%;
  display: flex;
}

.Hambuger-Container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.Hamburger {
	margin-top: .3em;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

.Hamburger-Middle {
	top: 20px;
}

.Hamburger-Middle {
	left: 5px;
	width: 35px;
	height: 5px;
	position: absolute;
	background: #FFBC42;
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.Hamburger-Middle-Active {
	visibility: hidden;
	opacity: 0;
}

.Name-Container {
  width: 80%;
}

.Name {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FDEAEA;
  font-size: 8vw;
  border-radius: 3px;
}

.Container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.Side-Nav {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100vh;
  position: relative;
  background: linear-gradient(10deg, #F6B352 0%, #FA4D6D 100%);
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  transition: .5s;
}

.Side-Nav-Show {
  transform: translate(0, 0);
}

.Side-Nav-Hide {
  transform: translate(-100%, 0);
}

.Post-Container {
  width: 100%;
}

.NewPost {
  text-align: right;
}

.NewPost p {
  margin: 0;
  padding-right: 30px;
  font-size: 1.1em;
  font-weight: normal;
  cursor: pointer;
}

.New-Post {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.New-Post 
input,
select,
textarea {
  font-size: 1em;
  width: 100%;
}

/* Posts component */
.Posts {
  width: 100%;
}

/* Post component */
.Post {
  padding: 10px;
}

.Post-Info {
  display: flex;
  font-size: .85em;
  color: #8A8585;
}

.Title,
.Delete,
.Up,
.Down {
  cursor: pointer;
}

.Comments,
.Points,
.Vote,
.Edit,
.Delete {
  margin: 0 6px;
  padding: 0;
}

.Vote {
  width: 40px;
  display: flex;
  padding-top: 2px;
}

.Up {
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #CAC6C6;
}

.Down {
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #CAC6C6;
}

.Author {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #D2BCBC;
}

.Categories {
  position: absolute;
  width: 100%;
}

.Categories-List {
  margin: 0;
  padding: 0;
}

.Categories-List li {
  color: #D2BCBC;
  padding: 10px;
  border-bottom: 1px solid;
}

.Category {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .Header h1 {
    font-size: 5.5vw;
  }
}

@media screen and (min-width: 900px) {
  .Header h1 {
    font-size: 3.5vw;
  }

  .New-Post 
  input,
  select,
  textarea {
    width: 70%;
  }

  .NewPost-Title-Container {
    display: flex;
  }

  .NewPost-Title {
    width: 10%;
  }

  .NewPost-Title-Text {
    width: 90%;
  }
  
}

