.Post {
  display: flex;
}

.header {
  padding: 1em;
  background: #f23456;
}

.header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav {
  padding: 1em;
  text-align: center;
}

.nav a {
  padding: 1em;
  text-decoration: none;
}

ul {
  list-style: none;
}
